# Python cache files
Embedding-AutoEncoder/__pycache__/

# PyTorch model files
*.pt
*.pth
*.ckpt

# TensorBoard logs
**/runs/
**/logs/

# Large data files
*.csv
*.h5
*.hdf5

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc